@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
  scroll-behavior: smooth;
  font-family: 'Raleway', sans-serif ,'Dm Sans', sans-serif;
}

@layer base {
  body {
    @apply bg-white text-black tracking-wide
  }

}
@keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(80px);
    }
    100% {
      opacity: 2;
      transform: translateY(0);
    }
  }
@keyframes fadeInDown {
        0% {
        opacity: 0;
        transform: translateY(-80px);
        }
        100% {
        opacity: 2;
        transform: translateY(0);
        }
    }
@keyframes fadeInLeft {
    0% {
      opacity: 0;
      transform: translateX(-80px);
    }
    100% {
      opacity: 2;
      transform: translateX(0);
    }
  }
    
@keyframes fadeInRight {
    0% {
      opacity: 0;
      transform: translateX(80px);
    }
    100% {
      opacity: 2;
      transform: translateX(0);
    }
  }
  
  .animate-fadeInUp {
    animation: fadeInUp 0.6s ease-in-out;
  }
  .animate-fadeInDown{
    animation: fadeInDown 0.6s ease-in-out;
  }
  .animate-fadeInRight{
    animation: fadeInRight 0.6s ease-in-out;
  }
    .animate-fadeInLeft{
        animation: fadeInLeft 0.6s ease-in-out;
    }
  
